.container {
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    align-items: center;
    width: 100vw;
    gap: 15rem;
    /* margin: auto; */
    /* background-color: red; */
}
.header {
    /* margin-top: 5em; */
    display: flex;
    justify-content: space-between;
    align-content: center;
    /* background-color: red; */
    /* margin-left: 100px; */
    padding: 50px;
    width: 100%;
    
}
.todo-list {
    width: 100%;
    /* background-color: red; */
    /* margin-left: 100px; */
}
.searchInput {
    border: none;
    padding: 0 1rem;
    width: 20em;
    /* height: 3em; */
    /* border-radius: 0.9em; */
    background: #ffeacc;
    color: black;
    /* font: 1.5em century gothic, verdana, arial, sans-serif; */
}

.searchInput::placeholder {
    opacity: 0.5;
    font-size: 0.875em;
}

.searchInput:focus {
    outline: none;
    background: #ffeacc;
}