.container-main {
    border-radius: 10px;    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    width: 350px;
    padding: 20px;
    height: 200px;
}
.todo-container {
    /* background-color: red; */
    padding: 10px;

 }
.container-main:hover .icons-header {
    display: flex;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons-header {
    display: flex;
    gap: 10px;
}
.icons-header img {
    cursor: pointer;
    width: 30px;
    height: 30px;
}